.pokemon-card {
  padding-top: 24px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(3, 27, 78, 0.1);
  transition: box-shadow 0.4s ease-in-out;
}

.pokemon-card:hover {
  box-shadow: 0 2px 20px rgba(3, 27, 78, 0.4);
  cursor: pointer;
}

.pokemon-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card-info {
  height: 60px;
  padding: 6px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-card-id {
  height: 20px;
  padding: 0 6px;
  border-radius: 10px;
  background-color: #90caf9;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card-name {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}
